%h1 About
%p The app implements some of the core features of the Facebook -- users, profiles, "friending", posts, news feed, and "liking".

%p
  Find more about the project at
  = link_to "Odin", "http://www.theodinproject.com/ruby-on-rails/final-project"
