%h1 
  Hi
  = @user.email
  !

%p Welcome to The Odin-Facebook clone. We hope you'll have great time here and make a lot of new friends.

%p 
  For the begenning, please fill your
  = link_to "profile", @profile
  so that world can find more about you!

Best regards,
odin-facebook team
