.post_likes
  = pluralize(post.likes.size, "Like")
  - if (lid = current_user.liked?(post))
    = button_to "Unlike", like_path(lid), method: :delete
  - else
    = button_to "Like", post_likes_path(post), method: :post
