%h1= @user.email

- if current_user.addable?(@user)
  = button_to "Add Friend", controller: "friendships", action: "create", method: :post, friend_id: @user.id

%h2
  = link_to "Friends", user_friendships_path(@user)
