%h1 Requests sent to you:

%table
  %tr
    %th Email
    %th
    %th
  %tbody
    - current_user.friend_requests.each do |friend_request|
      %tr
        %td= link_to friend_request.user_1.email, friend_request.user_1
        %td= button_to "Accept",  friendship_path(friend_request), method: :put
        %td= button_to "Decline", friendship_path(friend_request), method: :delete

%h1 Your requests:

%ol
  - current_user.sent_requests.each do |sent_request|
    %li
      = link_to sent_request.user_2.email, sent_request.user_2
